[Service]
#EnvironmentFile=-{{docker_defaults_file}}
Environment="DOCKER_DNS_OPTIONS=--dns={{ansible_docker0.ipv4.address}}"
ExecStart=
ExecStart=/usr/bin/docker daemon -H fd:// $OPTIONS \
          $DOCKER_DNS_OPTIONS \
          $DOCKER_STORAGE_OPTIONS \
          $DOCKER_NETWORK_OPTIONS \
          $BLOCK_REGISTRY \
          $INSECURE_REGISTRY
