Package: docker.io
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900

Package: docker-containerd
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900

Package: docker-runc
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900

Package: containerd
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900

Package: runc
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900

Package: tini
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900

Package: golang-libnetwork
Pin: release a={{ docker_pin_release }}
Pin-Priority: 900
